<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyecto Nutrición</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://i.imgur.com/ynaxQQu.jpeg"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
    <style>
      .main-content {
        color: black;
        text-align: center;
        font-family: "Arial", sans-serif;
      }

      .main-content h1 {
        font-size: 3.5rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
      }

      .main-content p {
        font-size: 1.2rem;
        line-height: 1.6;
        margin-bottom: 1.5rem;
      }

      .btn-primary {
        background-color: #28a745;
        border-color: #28a745;
        font-size: 1.2rem;
        padding: 0.75rem 2rem;
      }

      .card-section {
        background-color: #f2f2f2;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;
      }

      .animate-opacity {
        opacity: 1;
        transition: opacity 1s ease-in-out;
      }

      .animate-opacity.hide {
        opacity: 0;
      }
      .card-header {
        background-color: #f2f2f2;
        padding: 10px;
        border-bottom: 1px solid #ccc;
      }

      .card-title {
        display: inline;
        margin-left: 10px;
      }

      .icon {
        width: 30px; /* Tamaño del icono */
        height: auto; /* Altura automática para mantener la proporción */
        vertical-align: middle; /* Alineación vertical con el texto */
      }
      .card-title-small {
        font-size: 1rem; /* Tamaño pequeño del título */
      }

      .card-title-medium {
        font-size: 1.5rem; /* Tamaño mediano del título */
      }

      .card-title-large {
        font-size: 2rem; /* Tamaño grande del título */
      }
      .card {
        transition: transform 0.3s ease; /* Transición suave de 0.3 segundos */
      }

      .inner-card:hover {
        transform: scale(1.05);
      }
    </style>
    <script>
      window.onload = function () {
        var signInForm = document.getElementById("singin-form");
        signInForm.classList.add("fade-in-active");
      };

      setTimeout(function () {
        var errorMessage = document.getElementById("error-message");
        if (errorMessage) {
          errorMessage.style.display = "none";
        }
      }, 5000); // 5000 milisegundos = 5 segundos

      document.addEventListener("DOMContentLoaded", function () {
        var paragraphs = document.querySelectorAll(".main-content p");

        function isInViewport(element) {
          var rect = element.getBoundingClientRect();
          return (
            rect.top <= window.innerHeight / 2 &&
            rect.bottom >= window.innerHeight / 2
          );
        }

        function toggleVisibility() {
          paragraphs.forEach(function (paragraph, index) {
            if (isInViewport(paragraph)) {
              paragraph.classList.remove("hide");
            } else {
              // Oculta el párrafo si no está en la mitad de la pantalla
              paragraph.classList.add("hide");
            }
          });
        }

        toggleVisibility();

        window.addEventListener("scroll", toggleVisibility);
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Obtener el parámetro 'selected_card' de la URL
        const urlParams = new URLSearchParams(window.location.search);
        const selectedCard = urlParams.get("selected_card");

        // Mapear cada tarjeta de ejercicio a su respectivo grupo
        const cardGroups = {
          1: [1, 2, 3, 4, 5],
          2: [6, 7, 8, 9, 10, 11],
          3: [12, 13, 14, 15, 16],
          4: [17, 18, 19, 20, 21],
          5: [22, 23, 24, 25, 26],
          6: [27, 28, 29, 30],
        };

        // Seleccionar todas las tarjetas de ejercicio
        const cards = document.querySelectorAll(".inner-card");

        // Filtrar las tarjetas según la tarjeta seleccionada
        cards.forEach((card) => {
          const cardId = parseInt(card.getAttribute("id").split("-")[1]);
          const group = cardGroups[selectedCard];
          if (group && group.includes(cardId)) {
            card.style.display = "block"; // Mostrar la tarjeta si pertenece al grupo correspondiente
          } else {
            card.style.display = "none"; // Ocultar la tarjeta si no pertenece al grupo correspondiente
          }
        });
      });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const cards = document.querySelectorAll(".inner-card");

        cards.forEach((card) => {
          card.addEventListener("click", function () {
            const exerciseTitle = card.querySelector(".card-title").textContent;
            window.location.href = `/practic?exercise_title=${exerciseTitle}`;
          });
        });
      });
    </script>
  </head>
  <body>
    {% extends 'base.html' %} {% block content %}

    <main class="container py-5 gradient-bg main-content">
      <section class="card card-body card-section fade-in" id="singin-form">
        <div class="text-center mb-5">
          <h1 class="display-1">Ejercicios para realizar</h1>
        </div>
        <div class="row">
          <!-- Tarjeta 1 -->
          <div class="col-md-4">
            <div
              class="card card-body card-section inner-card"
              id="ejercicio-1"
            >
              <div class="card-header">
                <h2 class="card-title card-title-medium">Dorsolumbar 1</h2>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus lacinia, odio a elementum vestibulum, augue ex
                  sollicitudin augue, vel accumsan nisi augue vel nunc.
                </p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 2 -->
          <div class="col-md-4">
            <div
              class="card card-body card-section inner-card"
              id="ejercicio-2"
            >
              <div class="card-header">
                <h2 class="card-title card-title-medium">Dorsolumbar 2</h2>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus lacinia, odio a elementum vestibulum, augue ex
                  sollicitudin augue, vel accumsan nisi augue vel nunc.
                </p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 3 -->
          <div class="col-md-4">
            <div
              class="card card-body card-section inner-card"
              id="ejercicio-3"
            >
              <div class="card-header">
                <h2 class="card-title card-title-medium">Dorsolumbar 3</h2>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus lacinia, odio a elementum vestibulum, augue ex
                  sollicitudin augue, vel accumsan nisi augue vel nunc.
                </p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 4 -->
          <div class="col-md-4">
            <div
              class="card card-body card-section inner-card"
              id="ejercicio-4"
            >
              <div class="card-header">
                <h2 class="card-title card-title-medium">Dorsolumbar 4</h2>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus lacinia, odio a elementum vestibulum, augue ex
                  sollicitudin augue, vel accumsan nisi augue vel nunc.
                </p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 5-->
          <div class="col-md-4">
            <div
              class="card card-body card-section inner-card"
              id="ejercicio-5"
            >
              <div class="card-header">
                <h2 class="card-title card-title-medium">Dorsolumbar 5</h2>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus lacinia, odio a elementum vestibulum, augue ex
                  sollicitudin augue, vel accumsan nisi augue vel nunc.
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Tarjeta 6 -->
            <div class="col-md-4">
              <div
                class="card card-body card-section inner-card"
                id="ejercicio-6"
              >
                <div class="card-header">
                  <h2 class="card-title card-title-medium">Brazos Alas</h2>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus lacinia, odio a elementum vestibulum, augue ex
                    sollicitudin augue, vel accumsan nisi augue vel nunc.
                  </p>
                </div>
              </div>
            </div>
            <!-- Tarjeta 7 -->
            <div class="col-md-4">
              <div
                class="card card-body card-section inner-card"
                id="ejercicio-7"
              >
                <div class="card-header">
                  <h2 class="card-title card-title-medium">Brazos Arriba</h2>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus lacinia, odio a elementum vestibulum, augue ex
                    sollicitudin augue, vel accumsan nisi augue vel nunc.
                  </p>
                </div>
              </div>
            </div>
            <!-- Tarjeta 8 -->
            <div class="col-md-4">
              <div
                class="card card-body card-section inner-card"
                id="ejercicio-8"
              >
                <div class="card-header">
                  <h2 class="card-title card-title-medium">Brazos Cruzados</h2>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus lacinia, odio a elementum vestibulum, augue ex
                    sollicitudin augue, vel accumsan nisi augue vel nunc.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Tarjeta 9 -->
            <div class="col-md-4">
              <div
                class="card card-body card-section inner-card"
                id="ejercicio-9"
              >
                <div class="card-header">
                  <h2 class="card-title card-title-medium">Brazos Estirados</h2>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus lacinia, odio a elementum vestibulum, augue ex
                    sollicitudin augue, vel accumsan nisi augue vel nunc.
                  </p>
                </div>
              </div>
            </div>
            <!-- Tarjeta 10 -->
            <div class="col-md-4">
              <div
                class="card card-body card-section inner-card"
                id="ejercicio-10"
              >
                <div class="card-header">
                  <h2 class="card-title card-title-medium">Ejercicio 7</h2>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus lacinia, odio a elementum vestibulum, augue ex
                    sollicitudin augue, vel accumsan nisi augue vel nunc.
                  </p>
                </div>
              </div>
            </div>
            <!-- Tarjeta 11 -->
            <div class="col-md-4">
              <div
                class="card card-body card-section inner-card"
                id="ejercicio-11"
              >
                <div class="card-header">
                  <h2 class="card-title card-title-medium">Ejercicio 8</h2>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus lacinia, odio a elementum vestibulum, augue ex
                    sollicitudin augue, vel accumsan nisi augue vel nunc.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Tarjeta 12 -->
          <div class="col-md-4">
            <div
              class="card card-body card-section inner-card"
              id="ejercicio-12"
            >
              <div class="card-header">
                <h2 class="card-title card-title-medium">Estiramiento 1</h2>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus lacinia, odio a elementum vestibulum, augue ex
                  sollicitudin augue, vel accumsan nisi augue vel nunc.
                </p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 13 -->
          <div class="col-md-4">
            <div
              class="card card-body card-section inner-card"
              id="ejercicio-13"
            >
              <div class="card-header">
                <h2 class="card-title card-title-medium">Estiramiento 2</h2>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus lacinia, odio a elementum vestibulum, augue ex
                  sollicitudin augue, vel accumsan nisi augue vel nunc.
                </p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 14 -->
          <div class="col-md-4">
            <div
              class="card card-body card-section inner-card"
              id="ejercicio-14"
            >
              <div class="card-header">
                <h2 class="card-title card-title-medium">Estiramiento 3</h2>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus lacinia, odio a elementum vestibulum, augue ex
                  sollicitudin augue, vel accumsan nisi augue vel nunc.
                </p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 15 -->
          <div class="col-md-4">
            <div
              class="card card-body card-section inner-card"
              id="ejercicio-15"
            >
              <div class="card-header">
                <h2 class="card-title card-title-medium">Estiramineto 4</h2>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus lacinia, odio a elementum vestibulum, augue ex
                  sollicitudin augue, vel accumsan nisi augue vel nunc.
                </p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 16 -->
          <div class="col-md-4">
            <div
              class="card card-body card-section inner-card"
              id="ejercicio-16"
            >
              <div class="card-header">
                <h2 class="card-title card-title-medium">Estiramiento 5</h2>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus lacinia, odio a elementum vestibulum, augue ex
                  sollicitudin augue, vel accumsan nisi augue vel nunc.
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Tarjeta 17 -->
            <div class="col-md-4">
              <div
                class="card card-body card-section inner-card"
                id="ejercicio-17"
              >
                <div class="card-header">
                  <h2 class="card-title card-title-medium">Abduccion Hombro</h2>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus lacinia, odio a elementum vestibulum, augue ex
                    sollicitudin augue, vel accumsan nisi augue vel nunc.
                  </p>
                </div>
              </div>
            </div>
            <!-- Tarjeta 18 -->
            <div class="col-md-4">
              <div
                class="card card-body card-section inner-card"
                id="ejercicio-18"
              >
                <div class="card-header">
                  <h2 class="card-title card-title-medium">Ejercicio 2</h2>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus lacinia, odio a elementum vestibulum, augue ex
                    sollicitudin augue, vel accumsan nisi augue vel nunc.
                  </p>
                </div>
              </div>
            </div>
            <!-- Tarjeta 19 -->
            <div class="col-md-4">
              <div
                class="card card-body card-section inner-card"
                id="ejercicio-19"
              >
                <div class="card-header">
                  <h2 class="card-title card-title-medium">Ejercicio 3</h2>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus lacinia, odio a elementum vestibulum, augue ex
                    sollicitudin augue, vel accumsan nisi augue vel nunc.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Tarjeta 20 -->
          <div class="col-md-4">
            <div
              class="card card-body card-section inner-card"
              id="ejercicio-20"
            >
              <div class="card-header">
                <h2 class="card-title card-title-medium">Hombro</h2>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus lacinia, odio a elementum vestibulum, augue ex
                  sollicitudin augue, vel accumsan nisi augue vel nunc.
                </p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 21 -->
          <div class="col-md-4">
            <div
              class="card card-body card-section inner-card"
              id="ejercicio-21"
            >
              <div class="card-header">
                <h2 class="card-title card-title-medium">Hombros Atras</h2>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus lacinia, odio a elementum vestibulum, augue ex
                  sollicitudin augue, vel accumsan nisi augue vel nunc.
                </p>
              </div>
            </div>
          </div>

          <!--Ejercicio de piernas-->
          <div class="row">
            <!-- Tarjeta 22 -->
            <div class="col-md-4">
              <div
                class="card card-body card-section inner-card"
                id="ejercicio-22"
              >
                <div class="card-header">
                  <h2 class="card-title card-title-medium">Pierna 1</h2>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus lacinia, odio a elementum vestibulum, augue ex
                    sollicitudin augue, vel accumsan nisi augue vel nunc.
                  </p>
                </div>
              </div>
            </div>
            <!-- Tarjeta 23 -->
            <div class="col-md-4">
              <div
                class="card card-body card-section inner-card"
                id="ejercicio-23"
              >
                <div class="card-header">
                  <h2 class="card-title card-title-medium">Pierna 2</h2>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus lacinia, odio a elementum vestibulum, augue ex
                    sollicitudin augue, vel accumsan nisi augue vel nunc.
                  </p>
                </div>
              </div>
            </div>
            <!-- Tarjeta 24 -->
            <div class="col-md-4">
              <div
                class="card card-body card-section inner-card"
                id="ejercicio-24"
              >
                <div class="card-header">
                  <h2 class="card-title card-title-medium">Pierna 3</h2>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus lacinia, odio a elementum vestibulum, augue ex
                    sollicitudin augue, vel accumsan nisi augue vel nunc.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Tarjeta 25 -->
          <div class="col-md-4">
            <div
              class="card card-body card-section inner-card"
              id="ejercicio-25"
            >
              <div class="card-header">
                <h2 class="card-title card-title-medium">Pierna 4</h2>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus lacinia, odio a elementum vestibulum, augue ex
                  sollicitudin augue, vel accumsan nisi augue vel nunc.
                </p>
              </div>
            </div>
          </div>
          <!-- Tarjeta 26 -->
          <div class="col-md-4">
            <div
              class="card card-body card-section inner-card"
              id="ejercicio-26"
            >
              <div class="card-header">
                <h2 class="card-title card-title-medium">Pierna 5</h2>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus lacinia, odio a elementum vestibulum, augue ex
                  sollicitudin augue, vel accumsan nisi augue vel nunc.
                </p>
              </div>
            </div>
          </div>

          <!--Ejercicio de Hombro-Codo-->
          <div class="row">
            <!-- Tarjeta 27 -->
            <div class="col-md-4">
              <div
                class="card card-body card-section inner-card"
                id="ejercicio-27"
              >
                <div class="card-header">
                  <h2 class="card-title card-title-medium">Hombro Codo 1</h2>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus lacinia, odio a elementum vestibulum, augue ex
                    sollicitudin augue, vel accumsan nisi augue vel nunc.
                  </p>
                </div>
              </div>
            </div>
            <!-- Tarjeta 28 -->
            <div class="col-md-4">
              <div
                class="card card-body card-section inner-card"
                id="ejercicio-28"
              >
                <div class="card-header">
                  <h2 class="card-title card-title-medium">Hombro Codo 2</h2>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus lacinia, odio a elementum vestibulum, augue ex
                    sollicitudin augue, vel accumsan nisi augue vel nunc.
                  </p>
                </div>
              </div>
            </div>
            <!-- Tarjeta 29 -->
            <div class="col-md-4">
              <div
                class="card card-body card-section inner-card"
                id="ejercicio-29"
              >
                <div class="card-header">
                  <h2 class="card-title card-title-medium">Hombro Codo 3</h2>
                </div>
                <div class="card-body">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Phasellus lacinia, odio a elementum vestibulum, augue ex
                    sollicitudin augue, vel accumsan nisi augue vel nunc.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Tarjeta 30 -->
          <div class="col-md-4">
            <div
              class="card card-body card-section inner-card"
              id="ejercicio-30"
            >
              <div class="card-header">
                <h2 class="card-title card-title-medium">Hombro Codo 4</h2>
              </div>
              <div class="card-body">
                <p class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus lacinia, odio a elementum vestibulum, augue ex
                  sollicitudin augue, vel accumsan nisi augue vel nunc.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    {% endblock %}
  </body>
</html>
